html {
    --document_content_margin: 20px;
	@media(max-width:1023px){ --document_content_margin: 20px; }

    --text_image_margin: 30px;
	@media(max-width:1023px){ --text_image_margin: 20px; }

    --article_inside_width: 1024px;

	--article_space_top: 60px;
	@media(max-width:1023px){ --article_space_top: 20px; }
	--article_space_bottom: 60px;
	@media(max-width:1023px){ --article_space_bottom: 20px; }
}

.mod_article .content-text.text_in_center_of_image{ 
    display: flex; justify-content: space-between; align-items: center; 
    @media(max-width:1023px){ display: block; }
	& > * { 
        @media(max-width:1023px){ 
            &:first-child { margin-bottom: 20px; } 
        } 
    }
	.rte { flex-shrink: 1; 
        h1, h2, h3, h4, h5, h6 { 
            &:first-child { margin-top: 0; } 
        }
    }
	figure { flex-shrink: 0; float: none !important; 
        @media(max-width:1023px){ flex-shrink: 0; } 
    }
    &.media--right figure { order: 2; margin: 0 0 0 var(--text_image_margin, 20px); } 
}

.mod_article .content-text.image_full_width_height_as_text, 
.mod_article .content-text.image_height_as_text{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    height: 100%; 
    padding: 0; 
    overflow-y: hidden;
    @media(max-width:767px){ display: block; }
    figure { 
        position: absolute; 
        width: 50%; 
        height: 100%; 
        left: 0; 
        float: none;
        @media(max-width:767px){ position: relative; width: 100%; height: auto; }
        img { width: 100%; height: 100%; object-fit: cover; }
        //figcaption { display: none; }
    }
    &.media--right figure { left: auto; right: 0; }
    .rte { 
        width: var(--article_inside_width, 100%); 
        max-width: 100%; 
        margin: auto; 
        float: none; 
        padding: var(--text_image_margin, 60px); 
        padding-right: var(--document_content_margin); 
        margin-left: 50%; 
        @media(max-width:767px){ 
            margin-left: auto; 
            padding: var(--article_space_top) var(--document_content_margin) var(--article_space_bottom) var(--document_content_margin); 
        }
    }
    &.media--right .rte { 
        padding: var(--text_image_margin, 60px); 
        padding-left: var(--document_content_margin); 
        margin-left: 0; 
        margin-right: 50%; 
        @media(max-width:767px){ 
            margin-right: auto; 
            padding: var(--article_space_top) var(--document_content_margin) var(--article_space_bottom) var(--document_content_margin); 
        }
    }
}
.content-text.image_height_as_text:not(.has_inside), .content-text.image_height_as_text > .inside { width: var(--article_inside_width); max-width: 100%; }

.mod_article .content-text.image_as_background { 
    position: relative;
    padding: 0;
    figure, img { 
        position: absolute; 
        width: 100%; 
        height: 100%; 
        object-fit: cover;
    }
    &.media--left figure, &.media--right figure { margin: 0; }
    .rte { position: relative; padding: var(--document_content_margin); }
}

&.headline_left { 
    h1, h2, h3, h4, h5, h6 { text-align: left} 
}
&.headline_center { 
    h1, h2, h3, h4, h5, h6 { text-align: center; } 
}
&.headline_right { 
    h1, h2, h3, h4, h5, h6 { text-align: right; } 
}

.content-headline {
    &.headline_left { text-align: left; }
    &.headline_center { text-align: center; }
    &.headline_right { text-align: right; }
}

.content-text.image_horizontal_centered, a.image_horizontal_centered { 
    figure { text-align: center; 
        img { display: inline-block; } 
    } 
}
