html {
    --content_margin: 20px;
	@media(max-width:767px){ --content_margin: 20px; }

    --image_margin: 30px;
	@media(max-width:767px){ --image_margin: 20px; }

    --content_width: 1024px;

	--article_margin: 60px;
	@media(max-width:767px){ --article_margin: 20px; }
	--article_margin: 60px;
	@media(max-width:767px){ --article_margin: 20px; }
}

 .content-text.text_in_center_of_image { 
	 display: flex; 
	 align-items: center; 
	 justify-content: stretch;
	 @media(max-width:767px){ 
		 display: block; 
		 &.media--right > *:first-child, &.media--left > *:first-child { margin-bottom: 1em; } 
	 }
	.rte { 
		flex-shrink: 1;
		flex-grow: 1;
		h1, h2, h3, h4, h5, h6 { 
			&:first-child { margin-top: 0; } 
		}
	}
	& > figure { 
        flex-shrink: 0; 
        float: none !important; 
        margin: 0 var(--image_margin, 20px) 0 0; 
        @media(max-width:767px){ flex-shrink: 0; } 
    }
    &.media--right {
	justify-content: space-between;
        .rte {
            margin-right: unset;
        }
        & > figure { 
            order: 2; 
            margin: 0 0 0 var(--image_margin, 20px); 
            @media(max-width:767px){ 
                margin-left: 0; 
                margin-right: 0; 
            }
        }
    }
}

 .content-text.image_full_width_height_as_text, 
 .content-text.image_height_as_text {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    height: 100%; 
    padding: 0; 
    overflow-y: hidden;
    margin-top: 0; 
    margin-bottom: 0;
    @media(max-width:767px){ display: block; }
    & > figure { 
        position: absolute; 
        width: 50%; 
        height: 100%; 
        left: 0; 
        float: none;
        @media(max-width:767px){ 
            position: relative; 
            width: 100%; 
            height: auto; 
        }
        img { width: 100%; height: 100%; object-fit: cover; }
        //figcaption { display: none; }
    }
    &.media--right > figure { left: auto; right: 0; 
        @media(max-width:767px){ margin-left: 0; }
    }
    &.media--second_image {
        figure:not(.second_image) { width: 25%; right: 25%; }
        figure.second_image { width: 25%; right: 0%; }
    }
    .rte { 
        width: calc( var(--content_width, 100vw) / 2 );
        max-width: 100%; 
        margin: auto; 
        float: none; 
        padding: var(--image_margin, 60px); 
        padding-right: var(--content_margin); 
        margin-left: 50%; 
        @media(max-width:767px){ 
            margin-left: auto;
            padding: var(--article_margin) var(--content_margin) var(--article_margin) var(--content_margin);
	    width: 100%;
        }
    }
    &.media--right {
        justify-content: flex-end;
        .rte { 
            padding: var(--image_margin, 60px); 
            padding-left: var(--content_margin); 
            margin-left: 0; 
            margin-right: 50%; 
            @media(max-width:767px){ 
                margin-right: auto; 
		margin-left: auto; 
                padding: var(--article_margin) var(--content_margin) var(--article_margin) var(--content_margin); 
            }
        }
    }
}
.content-text.image_height_as_text:not(.has_inside), 
.content-text.image_height_as_text > .inside { 
    width: var(--content_width); max-width: 100%; 
}
.content-text.image_height_as_text.media--right figure { padding-right: var(--content_margin, 20px); }
.content-text.image_height_as_text.media--left figure { padding-left: var(--content_margin, 20px); }

 .content-text.image_as_background, .image_as_background > .content-text { 
    position: relative;
    padding: 0;
    & > figure, & > figure img { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; 
        height: 100%; 
        object-fit: cover;
    }
    &.media--left > figure, &.media--right > figure { margin: 0; }
    .rte { position: relative; padding: var(--content_margin); }
}

&.headline_left { 
    h1, h2, h3, h4, h5, h6 { text-align: left; width: 100%; }
}
&.headline_center { 
    h1, h2, h3, h4, h5, h6 { text-align: center; width: 100%; }
}
&.headline_right { 
    h1, h2, h3, h4, h5, h6 { text-align: right; width: 100%; }
}

.content-headline {
    &.headline_left { text-align: left; }
    &.headline_center { text-align: center; }
    &.headline_right { text-align: right; }
}

.content-text.image_horizontal_centered, .image_horizontal_centered .content-text, .content-image.image_horizontal_centered, a.image_horizontal_centered { 
    & > figure { text-align: center; 
        img { display: inline-block; } 
    } 
}
