html {
    --document_content_margin: 20px;
	@media(max-width:1023px){ --document_content_margin: 20px; }

    --text_image_margin: 60px;
	@media(max-width:1023px){ --text_image_margin: 20px; }

    --article_inside_width: 1024px;

	--article_space_top: 60px;
	@media(max-width:1023px){ --article_space_top: 20px; }
	--article_space_bottom: 60px;
	@media(max-width:1023px){ --article_space_bottom: 20px; }
}

.ce_text.text_in_center_of_image:not(.has_inside), .ce_text.text_in_center_of_image > .inside { 
    display: flex; justify-content: space-between; align-items: center; 
    @media(max-width:1023px){ display: block; }
	& > * { 
        @media(max-width:1023px){ 
            &:first-child { margin-bottom: 20px; } 
        } 
    }
	.text { flex-shrink: 1; 
        h1, h2, h3, h4, h5, h6 { 
            &:first-child { margin-top: 0; } 
        }
    }
	.image_container { flex-shrink: 0; float: none !important; 
        &.float_right { order: 2; } 
        &.float_above { margin-right: var(--text_image_margin, 60px); } 
        @media(max-width:1023px){ flex-shrink: 0; } 
    }
}

.ce_text.image_full_width_height_as_text:not(.has_inside), .ce_text.image_full_width_height_as_text > .inside,
.ce_text.image_height_as_text:not(.has_inside), .ce_text.image_height_as_text > .inside {
    display: flex; justify-content: space-between; align-items: center; width: 100%; height: 100%; padding: 0; overflow-y: hidden; position: relative; margin-left: auto; margin-right: auto;
    @media(max-width:767px){ display: block; }
    figure { position: absolute; width: 50%; height: 100%; left: 0; float: none;
        @media(max-width:767px){ position: relative; width: 100%; height: auto; }
        &.float_right { left: auto; right: 0; }
        img { width: 100%; height: 100%; object-fit: cover; }
        figcaption { display: none; }
    }
    .text { width: var(--article_inside_width, 100%); max-width: 100%; margin: auto; float: none;
        .inside { padding: var(--text_image_margin, 60px); padding-right: var(--document_content_margin); margin-left: 50%; 
            @media(max-width:767px){ margin-left: auto; padding: var(--article_space_top) var(--document_content_margin) var(--article_space_bottom) var(--document_content_margin); }
        }
        &.float_right_text .inside { padding: var(--text_image_margin, 60px); padding-left: var(--document_content_margin); margin-left: 0; margin-right: 50%; 
            @media(max-width:767px){ margin-right: auto; padding: var(--article_space_top) var(--document_content_margin) var(--article_space_bottom) var(--document_content_margin); }
        }
    }
}
.ce_text.image_height_as_text:not(.has_inside), .ce_text.image_height_as_text > .inside { width: var(--article_inside_width); }

.ce_text.image_as_background { position: relative;
    figure { position: absolute; width: 100%; height: 100%; object-fit: cover; 
        img { height: 100%; object-fit: cover; }
    }
}

.ce_text.center_headline { 
    h1, h2, h3, h4, h5, h6 { text-align: center; }
}

.ce_headline.center_headline { text-align: center; }

.ce_text.center_image, a.center_image { 
    .image_container { text-align: center; 
        img { display: inline-block; } 
    } 
}
